<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTraffic"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.onboarding.Onboarding2Activity" />
        <activity android:name=".ui.onboarding.Onboarding1Activity" />
        <activity android:name=".ui.onboarding.Onboarding3Activity" />
        <activity android:name=".ui.auth.LoginActivity"/>
        <activity android:name=".ui.auth.RegisterActivity"/>
        <activity android:name=".ui.profile.ProfileSetupActivity"/>
        <activity android:name=".ui.home.HomeActivity"/>
        <activity android:name=".ui.lesson.LawListActivity"/>
        <activity android:name=".ui.lesson.LawCategoryActivity"/>
        <activity android:name=".ui.lesson.LawDetailActivity"/>
        <activity android:name=".ui.sign.SignListActivity"/>
        <activity android:name=".ui.sign.SignDetailActivity"/>
        
        <activity android:name=".ui.simulation.SimulationListActivity"/>
        <activity android:name=".ui.simulation.SimulationDetailActivity"/>
        <activity android:name=".ui.simulation.SimulationResultActivity" />
        
        <activity android:name=".ui.quiz.QuizMenuActivity" />
        <activity android:name=".ui.quiz.QuizCategoryActivity" />
        <activity android:name=".ui.quiz.QuizCategoryListActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        
        <activity android:name=".ui.test.TestListActivity" />
        <activity android:name=".ui.test.TestActivity" />
        <activity android:name=".ui.test.TestResultActivity" />

        <activity android:name=".ui.assistant.AssistantActivity"/>
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.progress.ProgressActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>